/bin/
/target/
/testdb/
/junitTestDatabase/
/devDatabase/
/database/
/files/
/db_queriesSetUpButNotCrawled/
/db_queriesSetUpButNotCrawledFixed/
/debugDB/
/debugDB_crawlingDone/
/testDB_snapshot201510291947_halfDoneWrongACMIDNoFiltering/
/debugDB_crawlingDoneMergingDone/
/sinus/
