<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<SMTP name="Mail" subject="JCryptoTradeBot" to="fpfeederproxy@gmail.com"
			from="usecfeeder@gmx.ch" smtpHost="smtp.gmx.com" smtpPort="25"
			smtpUsername="usecfeeder@gmx.ch" smtpPassword="MkWll+Hppy1111861"
			bufferSize="1" smtpDebug="false">
			<BurstFilter level="ERROR" rate="0.00028" maxBurst="2"/>
		</SMTP>
	</Appenders>


	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="debug" />
<!-- 			<AppenderRef ref="Mail" level="info" /> -->
		</Root>
	</Loggers>

</Configuration>